
.DS_Store
Xiasl.pro.user
Xiasl.pro.user
Xiasl.pro.user
Xiasl.pro.user
*.user
Xiasl.pro.user
Xiasl.pro.user
bin/release/Xiasl.app/Contents/Info.plist
bin/release/Xiasl.app/Contents/MacOS/Xiasl
bin/release/Xiasl.app/Contents/PkgInfo
bin/release/Xiasl.app/Contents/Resources/empty.lproj
bin/release/Xiasl.app/Contents/Resources/my.icns
bin/release/Xiasl.app/Contents/Frameworks/libqscintilla2_qt5.15.dylib
bin/release/Xiasl.app/Contents/Frameworks/QtCore.framework/QtCore
bin/release/Xiasl.app/Contents/Frameworks/QtCore.framework/Resources
bin/release/Xiasl.app/Contents/Frameworks/QtCore.framework/Versions/5/QtCore
bin/release/Xiasl.app/Contents/Frameworks/QtCore.framework/Versions/5/Resources/Info.plist
bin/release/Xiasl.app/Contents/Frameworks/QtCore.framework/Versions/5/Resources/QtCore.prl
bin/release/Xiasl.app/Contents/Frameworks/QtCore.framework/Versions/Current
bin/release/Xiasl.app/Contents/Frameworks/QtDBus.framework/QtDBus
bin/release/Xiasl.app/Contents/Frameworks/QtDBus.framework/Resources
bin/release/Xiasl.app/Contents/Frameworks/QtDBus.framework/Versions/5/QtDBus
bin/release/Xiasl.app/Contents/Frameworks/QtDBus.framework/Versions/5/Resources/Info.plist
bin/release/Xiasl.app/Contents/Frameworks/QtDBus.framework/Versions/5/Resources/QtDBus.prl
bin/release/Xiasl.app/Contents/Frameworks/QtDBus.framework/Versions/Current
bin/release/Xiasl.app/Contents/Frameworks/QtGui.framework/QtGui
bin/release/Xiasl.app/Contents/Frameworks/QtGui.framework/Resources
bin/release/Xiasl.app/Contents/Frameworks/QtGui.framework/Versions/5/QtGui
bin/release/Xiasl.app/Contents/Frameworks/QtGui.framework/Versions/5/Resources/Info.plist
bin/release/Xiasl.app/Contents/Frameworks/QtGui.framework/Versions/5/Resources/QtGui.prl
bin/release/Xiasl.app/Contents/Frameworks/QtGui.framework/Versions/Current
bin/release/Xiasl.app/Contents/Frameworks/QtMacExtras.framework/QtMacExtras
bin/release/Xiasl.app/Contents/Frameworks/QtMacExtras.framework/Resources
bin/release/Xiasl.app/Contents/Frameworks/QtMacExtras.framework/Versions/5/QtMacExtras
bin/release/Xiasl.app/Contents/Frameworks/QtMacExtras.framework/Versions/5/Resources/Info.plist
bin/release/Xiasl.app/Contents/Frameworks/QtMacExtras.framework/Versions/5/Resources/QtMacExtras.prl
bin/release/Xiasl.app/Contents/Frameworks/QtMacExtras.framework/Versions/Current
bin/release/Xiasl.app/Contents/Frameworks/QtNetwork.framework/QtNetwork
bin/release/Xiasl.app/Contents/Frameworks/QtNetwork.framework/Resources
bin/release/Xiasl.app/Contents/Frameworks/QtNetwork.framework/Versions/5/QtNetwork
bin/release/Xiasl.app/Contents/Frameworks/QtNetwork.framework/Versions/5/Resources/Info.plist
bin/release/Xiasl.app/Contents/Frameworks/QtNetwork.framework/Versions/5/Resources/QtNetwork.prl
bin/release/Xiasl.app/Contents/Frameworks/QtNetwork.framework/Versions/Current
bin/release/Xiasl.app/Contents/Frameworks/QtPrintSupport.framework/QtPrintSupport
bin/release/Xiasl.app/Contents/Frameworks/QtPrintSupport.framework/Resources
bin/release/Xiasl.app/Contents/Frameworks/QtPrintSupport.framework/Versions/5/QtPrintSupport
bin/release/Xiasl.app/Contents/Frameworks/QtPrintSupport.framework/Versions/5/Resources/Info.plist
bin/release/Xiasl.app/Contents/Frameworks/QtPrintSupport.framework/Versions/5/Resources/QtPrintSupport.prl
bin/release/Xiasl.app/Contents/Frameworks/QtPrintSupport.framework/Versions/Current
bin/release/Xiasl.app/Contents/Frameworks/QtSvg.framework/QtSvg
bin/release/Xiasl.app/Contents/Frameworks/QtSvg.framework/Resources
bin/release/Xiasl.app/Contents/Frameworks/QtSvg.framework/Versions/5/QtSvg
bin/release/Xiasl.app/Contents/Frameworks/QtSvg.framework/Versions/5/Resources/Info.plist
bin/release/Xiasl.app/Contents/Frameworks/QtSvg.framework/Versions/5/Resources/QtSvg.prl
bin/release/Xiasl.app/Contents/Frameworks/QtSvg.framework/Versions/Current
bin/release/Xiasl.app/Contents/Frameworks/QtWidgets.framework/QtWidgets
bin/release/Xiasl.app/Contents/Frameworks/QtWidgets.framework/Resources
bin/release/Xiasl.app/Contents/Frameworks/QtWidgets.framework/Versions/5/QtWidgets
bin/release/Xiasl.app/Contents/Frameworks/QtWidgets.framework/Versions/5/Resources/Info.plist
bin/release/Xiasl.app/Contents/Frameworks/QtWidgets.framework/Versions/5/Resources/QtWidgets.prl
bin/release/Xiasl.app/Contents/Frameworks/QtWidgets.framework/Versions/Current
bin/release/Xiasl.app/Contents/MacOS/iasl
bin/release/Xiasl.app/Contents/MacOS/patchmatic
bin/release/Xiasl.app/Contents/MacOS/patchmatic-legacy
bin/release/Xiasl.app/Contents/PlugIns/bearer/libqgenericbearer.dylib
bin/release/Xiasl.app/Contents/PlugIns/iconengines/libqsvgicon.dylib
bin/release/Xiasl.app/Contents/PlugIns/imageformats/libqgif.dylib
bin/release/Xiasl.app/Contents/PlugIns/imageformats/libqicns.dylib
bin/release/Xiasl.app/Contents/PlugIns/imageformats/libqico.dylib
bin/release/Xiasl.app/Contents/PlugIns/imageformats/libqjpeg.dylib
bin/release/Xiasl.app/Contents/PlugIns/imageformats/libqmacheif.dylib
bin/release/Xiasl.app/Contents/PlugIns/imageformats/libqmacjp2.dylib
bin/release/Xiasl.app/Contents/PlugIns/imageformats/libqtga.dylib
bin/release/Xiasl.app/Contents/PlugIns/imageformats/libqtiff.dylib
bin/release/Xiasl.app/Contents/PlugIns/imageformats/libqwbmp.dylib
bin/release/Xiasl.app/Contents/PlugIns/imageformats/libqwebp.dylib
bin/release/Xiasl.app/Contents/PlugIns/platforms/libqcocoa.dylib
bin/release/Xiasl.app/Contents/PlugIns/printsupport/libcocoaprintersupport.dylib
bin/release/Xiasl.app/Contents/PlugIns/styles/libqmacstyle.dylib
bin/release/Xiasl.app/Contents/Resources/qt.conf
